# Flask Configuration
SECRET_KEY=your_secret_key_here
DATABACKEND_URL=sqlite:///learn.db

# Flask-Security-Too
SECURITY_PASSWORD_SALT=your_password_salt_here

# SMTP2GO Email Configuration (Optional - for password reset emails)
SMTP2GO_USERNAME=your_smtp2go_username
SMTP2GO_PASSWORD=your_smtp2go_password
MAIL_DEFAULT_SENDER=your_verified_sender_email@domain.com